In [1]:
import psycopg2

After performing some queries and multiple joins we are going to transform the ERD schema (Entity Relationship Diagram) into a star schema, in order to simplify data analysis

<img src='./img/erd_schema.png' width=40% height = 30%> <img src='./img/dvd_star_schema.png' width=40% height = 30%>

After creatin de schema we procede to create the tables in the dvd database.

In [3]:
conn = psycopg2.connect('host=localhost dbname=dvdrental user=postgres password=root')
conn.set_session(autocommit=True)

cur = conn.cursor()

In [7]:
# We are going to create the tables from the star_schema.
dimcustomer_create = ('''
                      CREATE TABLE IF NOT EXISTS dimcustomer(
                        customer_key SERIAL PRIMARY KEY,
                        customer_id INT NOT NULL,
                        fist_name VARCHAR NOT NULL,
                        last_name VARCHAR NOT NULL,
                        email VARCHAR,
                        adress VARCHAR NOT NULL,
                        adress2 VARCHAR,
                        phone VARCHAR,
                        city VARCHAR  NOT NULL,
                        district VARCHAR NOT NULL,
                        postal_code VARCHAR,
                        country VARCHAR NOT NULL,
                        create_date DATE NOT NULL,
                        active INT NOT NULL                        
                    )''')
cur.execute(dimcustomer_create)

In [9]:
dimfilm_create = ('''
                  CREATE TABLE IF NOT EXISTS dimfilm(
                    film_key SERIAL PRIMARY KEY,
                    film_id INT NOT NULL,
                    title VARCHAR NOT NULL,
                    description TEXT,
                    release_year YEAR,
                    language VARCHAR NOT NULL,
                    lengt INT,
                    rating INT NOT NULL,
                    category VARCHAR NOT NULL,
                    rental_rate VARCHAR NOT NULL,
                    rental_duration INT NOT NULL,
                    special_features VARCHAR NOT NULL                   
                )''')
cur.execute(dimfilm_create)

In [11]:
dimstaff_create = ('''
                   CREATE TABLE IF NOT EXISTS dimstaff (
                       staff_key SERIAL PRIMARY KEY,
                       staff_id  INT NOT NULL,
                       first_name VARCHAR NOT NULL,
                       last_name VARCHAR NOT NULL,
                       address VARCHAR NOT NULL,
                       address2 VARCHAR,
                       district VARCHAR NOT NULL,
                       city VARCHAR NOT NULL,
                       posta_code VARCHAR,
                       country VARCHAR NOT NULL,
                       email VARCHAR,
                       phone VARCHAR NOT NULL,
                       working_store VARCHAR NOT NULL,
                       ussername VARCHAR NOT NULL,
                       password  VARCHAR NOT NULL             
                )''')
cur.execute(dimstaff_create)

In [12]:
dimstore_create = ('''
                    CREATE TABLE IF NOT EXISTS dimstore(
                        store_key SERIAL PRIMARY KEY,
                        store_id INT NOT NULL,
                        manager_first_name VARCHAR NOT NULL,
                        manager_last_name VARCHAR NOT NULL,
                        adress VARCHAR NOT NULL,
                        adress2 VARCHAR,
                        district VARCHAR NOT NULL,
                        city VARCHAR NOT NULL,
                        posta_code VARCHAR NOT NULL,
                        country VARCHAR NOT NULL,
                        phone VARCHAR NOT NULL
                )''')
cur.execute(dimstore_create)

In [13]:
dimactor_create = ('''
                   CREATE TABLE IF NOT EXISTS dimactor(
                       actor_key SERIAL PRIMARY KEY,
                       actor_id INT NOT NULL,
                       first_name VARCHAR NOT NULL,
                       last_name VARCHAR NOT NULL 
                )''')
cur.execute(dimactor_create)

In [14]:
dimdate_create = ('''
                  CREATE TABLE IF NOT EXISTS dimdate(
                      date_key SERIAL PRIMARY KEY,
                      payment_date DATE NOT NULL                      
                )''')
cur.execute(dimdate_create)

In [15]:
dimrental_create = ('''
                    CREATE TABLE IF NOT EXISTS dimrental(
                        rental_key SERIAL PRIMARY KEY,
                        rental_id INT NOT NULL,
                        title VARCHAR NOT NULL,
                        rental_date DATE NOT NULL,
                        return_date DATE NOT NULL
                )''')
cur.execute(dimrental_create)